$bp-largest: 93.75em; // 1500px
$bp-large: 75em; //1200px
$bp-medium: 56.25em; //900px
$bp-small: 48em; //768px
$bp-smallest: 31.25em; //500px

$color-grey-lighter: #f0f0f0;
$color-grey-light: #e6e6e6;
$color-grey-medium: #858585;
$color-grey-medium-dark: #4a4a4a;
$color-grey-dark: rgb(7, 7, 7);
$color-green-1: #5ECE7B;
$color-ecru: #fdf1e5;


$font-raleway: 'Raleway', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-source: 'Source Sans Pro', sans-serif;

.header {
    grid-column: 2 / 3;
    display: flex;
    background-color: #fff;
    margin: 2rem 1rem;
    height: 5rem;

    &__wrap {
        grid-column: 1 / 4;
        display: grid;
        grid-template-columns: minmax(7rem, 1fr) 8fr minmax(7rem, 1fr);
    }

    &__logo {
        flex-basis: 33.3%;
        align-self: center;
        display: flex;
        justify-content: center;

        &-img {
            margin-left: 0.2rem;
            width: 1rem;
        }

        &-imgup {
            margin-left: 0.2rem;
            width: 1rem;
            transform: rotateX(180deg);
        }
    }

    &__right {        
        flex: 0 0 33.3%;
        display: flex;
        align-self: center;
        justify-content: flex-end;
        position: relative;
        align-items: flex-end;

        &-button {
            font-family: $font-raleway;
            font-size: 1.8rem;
            font-weight: 500;
            margin-right: 1.8rem;
            cursor: pointer;
        }

        &-item {
            font-family: $font-raleway;
            font-size: 1.8rem;
            font-weight: 500;
            border: none;
            background-color: #fff;
            text-align: left;
            padding: 1.2rem 2rem 1.2rem 2rem;
            cursor: pointer;

            &:hover {
                background-color: #EEEEEE;
            }
        }

        &-wrap {
            position: relative;
        }

        &-badge {
            position: absolute;
            top: -1.3rem;
            right: -1.2rem;
            justify-content: center;
            align-items: center;
            display: flex;
            background-color: #1D1F22;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
        }

        &-counter {
            color: #FFFFFF;
            font-family: $font-roboto;
            font-weight: 700;
            font-size: 1.4rem;
        }

        &-nav {
            display: flex;
            flex-direction: column;
            position: relative;
        }

        &-dropdown {
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 3rem;
            z-index: 5;
            width: 11.5rem;
            padding-bottom: 1rem;
            box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
        }       
    }


    &__nav {
        list-style-type: none;
        display: flex;
        align-items: center;
        flex-basis: 33.3%;
        margin-left: 0.8rem;

        &-item {
            font-size: 1.6rem;
            text-transform: uppercase;
            position: relative;

            &:not(:last-child) {
                margin-right: 3.2rem;
            }
        }
    }

    &__link {
        font-family: $font-raleway;
        font-size: 1.6rem;
        font-weight: 400;
        text-decoration: none;
        color: #000;
        position: relative;
        
        &:hover,
        &-active {
            font-weight: 600;
            color: $color-green-1;
            text-decoration: none;  
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: calc(100% + 3.2rem);
                background-color: $color-green-1;
                height: 2px;
                top: 3.2rem;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }        
    }
}
